<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- Include the Header Partial -->
    <%- include('partials/header') %>
    <div class="contact-box">
        <form>

            <input type="text" class="input-field" placeholder="Your Name" required>
            <input type="email" class="input-field" placeholder="Your email" required>
            <textarea type="text" class="input-field messagefield" placeholder="Your Message" required></textarea>  
        </form>
        <form>
          <button class="btn" type="submit">Submit</button>
        </form> 
    </div>
    <!-- Hero Section -->
   

    <!-- Include the Footer Partial -->
    <%- include('partials/footer') %>
</body>
</html>