<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Projects</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <!-- Include the Header Partial -->
    <%- include('partials/header') %>

    <!-- Projects Section -->
    <section class="section">
        <div class="container">
            <h2>Software Engineer</h2>
            <!-- Project 1 -->
            <div class="project">
                <p><b>Programming Languages</b></p>
                <p>C#, Linux, Python, HTML, CSS, JavaScript, SQL</p>
            </div>
            <!-- Project 2 -->
            <div class="project">
                <p><b>Software</b></p>
                <p>Excel, Word, PowerPoint, Visual Studio, Visual Studio Code, SQL Developer</p>
            </div>
            <!-- Project 3 -->
            <div class="project">
                <p><b>Operating Systems</b></p>
                <p>Windows, Linux, Oracle</p>
            </div>
        </div>
    </section>
    <!-- Include the Footer Partial -->
    <%- include('partials/footer') %>
</body>
</html>
