::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #060d20;
    border-radius: 12px;
    transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
    background: #040a1a;
}
.hero img {
    display: block;
    margin: 20px auto; /* Adjust the margin as needed */
}
img.logo{ 
            position:absolute;
            left: 0px;
            top: 0px;
            z-index: -1;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
            

        }
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Poppins;
}

/* Set a background color and default font */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* Navigation Bar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ea1518; /* Change color on hover */
}

/* Buttons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ea1518; /* Change color on hover */
}

/* Footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

section .content{
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}
.about .about-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section .title{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
section .title span{
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}
section .title span::before,
section .title span::after{
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000;
  left: 0;
  bottom: 0;
  
}
section .title span::after{
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.about .about-details .left{
  width: 45%;
}
.about .left img{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.about-details .right{
  width: 55%;
}
section  .topic{
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about-details .right p{
  text-align: justify;
  color: #0E2431;
}
section .button{
  margin: 16px 0;
}
section .button button{
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: #6c080a;
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.4s ease;
}
section .button button:hover{
  border-color: #ea1518;
  background-color: #ea1518;
  color: #ffffff;
}

.contant-box{
    width:500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
    flex-grow: 1;
}
form{
    margin: 35px;
    display:flex;
    flex-direction: column;
}
.input-field{
    width: 400px;
    height:40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline:none;
    display: flex;
    flex-direction: column;
    min-height: 5vh; 
}

.messagefield{
    height: 250px;
    padding-top: 10px;

}